body {
	background-image: url("http://7-themes.com/data_images/out/4/6781880-cool-high-tech-wallpaper.jpg");
}

.carddemoBasicUsage .card-media {
  /*background-color: transparent; */
}

#divCard{
background: #fff;  
	border-radius:0 10px;
}
#card{
	background-color: transparent;
	justify-content : flex-start;
	width:;
}

#contentBody{
	
	/*background-image: url("img/linesBg.jpg");*/
	background-color: rgba(26, 34, 97, 0.35);
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#profileImg{
	width: 120px;
	height: 130px;
	border-radius: 5px;
	float:left;
	margin-right: 10px;
	margin-top: 30px;
	margin-left: 10px;
}

#imgLogo{
	width: 50px;
	height: 50px;
	border-radius: 5px;
}

#footer{
	background-color: rgba(26, 34, 97, 0.35);
	color: #ddd;
	border-radius: 10px 10px 0 0; 
}

#navbar{

	background-color: rgba(26, 34, 97, 0.35);
	border-radius: 0 0 10px 10px;
}

#phrase{
	font-size: 15px;
	color: #9C9C9C;
}

.myDiv{
	width : 48%;
	margin-left: 12%;
	padding: 20px;
	padding-top: 5px;
	padding-right: 5px;
	border-radius:0 10px ;
	font-family: monospace;

}




/*fab*/
.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.md-fab{
	background-color: #000 !important;
}
  .fab{
  	background-color: transparent;
  	width:10%;
  	float:left;

  }



