<div ng-cloak>
		<md-content class="md-padding fab" layout="row">
		    <div class="lock-size" layout="row" layout-align="center left">
		      <md-fab-speed-dial md-open="isOpen" md-direction="down" ng-class="down">
		        <md-fab-trigger>
		          <md-button aria-label="menu" class="md-fab md-warn">
		            <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
		          </md-button>
		        </md-fab-trigger>
		        <md-fab-actions>
		          <md-button aria-label="Linkedin" class="md-fab md-mini" >
		            <md-icon md-svg-src="img/icons/linkedin.svg" aria-label="Linkedin" ng-click="redirectTo('linkedin')"></md-icon>
		          </md-button>
		          <md-button aria-label="Facebook" class="md-fab md-mini" ng-click="redirectTo('facebook')">
		            <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
		          </md-button>
		          <md-button aria-label="GitHub" class="md-fab md-mini">
		            <md-icon md-svg-src="img/icons/github.svg" aria-label="GitHub" ng-click="redirectTo('github')"></md-icon>
		          </md-button>
		        </md-fab-actions>
		      </md-fab-speed-dial>
		    </div>
		</md-content>

	  <md-content id="card" class="md-padding" layout="row" layout-wrap layout-align="center start">
	    <div  flex="50" layout="column" >
	      <md-card id="divCard" class="md-whiteframe-3dp">
	        <md-card-title >
	        <img id="profileImg" src="img\photo3.php.png" alt="foto" class="md-whiteframe-4dp">
	          <md-card-title-text>
	            <span class="md-headline" >Nderim Topalli</span><br>
	            <span class="md-subhead">Web Developer - Javascript and stack MEAN developer</span><br><br>
	            <span id="phrase" class="md-subhead ">'The natural desire of good men is knowledge.'<p style="font-size:12px; float:right; margin-right: 90px;"> Leonardo da Vinci</p></span>
	          </md-card-title-text>
	      </md-card-title>
	        <md-card-actions layout="row" layout-align="end center">
	          <md-button ng-model="boolSkills" ng-click="showDiv('skill', boolSkills)" id="skillsBtn" class="md-whiteframe-4dp" style="color: #ddd;">Skills</md-button>
	          <md-button ng-model="boolBio" ng-click="showDiv('bio', boolBio)" id="bioBtn" class="md-whiteframe-4dp" style="color: #ddd;">Biography</md-button>
	          <md-button ng-model="boolCont" ng-click="showDiv('cont', boolCont)" id="contactBtn" class="md-whiteframe-4dp" style="color: #ddd;">Contact</md-button>
	        </md-card-actions>
	      </md-card>
      	</div>
      </md-content>
</div>


<!--......................................................................-->

	<div class="myDiv md-whiteframe-3dp row" ng-show="boolSkills" style="background-color: white;">
		<h2>Skills</h2>
		<img src="../img/grou.png" alt="" style="width: 120px; height: 80px;">
		<img src="../img/angularLogo.png" alt="" style="width: 100px; height: 80px;">	
		<img src="../img/nodeLogo.png" alt="" style="width: 100px; height: 80px;">
		<img src="../img/mongoLogo.jpg" alt="" style="width: 120px; height: 80px;">
		<img src="../img/swiftLogo.jpg" alt="" style="width: 120px; height: 60px;">
		<md-button class="md" ng-model="more" ng-click="more = !more" style="margin-bottom: -10px;">More</md-button>	
		<div ng-show="more" style="margin-top: 20px; margin-bottom: 2px">
			<img src="../img/jqueryLogo.jpg" alt="" style="width: 80px; height: 70px;">
			<img src="../img/bootstrapLogo.png" alt="" style="width: 60px; height: 60px;">
			<img src="../img/androidLogo.png" alt="" style="width: 55px; height: 60px;">
			<img src="../img/phpLogo.gif" alt="" style="width: 80px; height: 70px;">
			<img src="../img/mysqlLogo.png" alt="" style="width: 80px; height: 60px;">
			<img src="../img/gitLogo.jpg" alt="" style="width: 70px; height: 65px;">
			<img src="../img/agileLogo.jpg" alt="" style="width: 80px; height: 70px;">
		</div>
	</div>

	<div class="myDiv md-whiteframe-3dp" ng-show="boolBio" style="background-color: white;">
		<h2>Biograhy</h2>Nderim is born on May 26 1995, in a little town in Kosovo. At age of 6 he begun his course of study. Growing up, he mature a love for science and technology, that will push him to undertake a course of higher school education addressed to mathematics and computer science. But, he wont complete not even the first year of school, when he and his family transferred in Udine, Italy at march 2011. For him, a new era begins. <br>He started attending high school in Udine, where approaches to programming, and in the meantime he had already gained an interest in robotics and artificial intelligence. He will graduate after four years in Sistemi Informativi Aziendali. After graduation, he started attending a high level Web and Mobile Development course of three months in Ancona. <br> Now, Nderim is a young web developer with a lot of ambitions and a lot of dreams, trying not to let them just simple ambitions and simple dreams...    
	</div>

	<div class="myDiv md-whiteframe-3dp" ng-show="boolCont" style="background-color: white;">
		<h2>Contact</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni sit deserunt rem recusandae molestiae eum natus, eos ipsum doloremque accusamus architecto illo fugiat explicabo molestias, cupiditate mollitia vitae nesciunt quo. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate odit quaerat, unde, perspiciatis corrupti doloribus autem suscipit magni vel vero beatae accusantium eum similique debitis, quas nihil nulla ducimus inventore!
	</div>
	
